body {
    background-color: #36d207;
    color: #000000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    overflow-x: hidden;
}

.center {
    text-align:center;
    margin-top:25px;
}


.modifyr {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px;
}

.image {
    /* flex-basis: 40% */
    float:left;
}

.text {
    font-size: 20px;
    padding-left: 20px;
    float:right;
    text-align: center;
}

.banner {
    background-color: transparent;
    text-align: center;
    padding: 0.5px;
    width:100%;
}